body{
   
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;

}
.card1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: rgb(227, 103, 138);
    border-radius: 20px;
}

.card1 p{
    background: black;
    color: white;
    overflow: auto;
    letter-spacing: 1.5px;
    word-spacing:1px;
    text-transform:uppercase;
    height:80px;
    border-radius: 10px;

}
.card1 h3{
    background: white;
    height:40px;
    text-align: center;
    justify-content: center;
    margin-inline: 40px;
    border-radius: 20px;
}